.Navbar {
  text-align: center;
  background-color: rgb(240, 240, 240);
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  a {
    text-decoration: none;
    color: rgb(21, 20, 26);
    font-size: 0.9em;
  }
}
.Home {
  .Links {
    margin: 10px;
  }

  div {
    background-color: rgb(240, 240, 240);
  }
  a {
    text-decoration: none;
    color: rgb(21, 20, 26);
    font-size: 0.9em;
  }
  h2 {
    font-size: 1.2em;
  }
}
.BeerList {
  h1 {
    margin: 20px 0 0 50px;
  }
  img {
    height: 30px;
    margin: 10px 10px 0 0;
  }
  a {
    text-decoration: none;
    color: rgb(21, 20, 26);
    font-size: 0.9em;
  }
  li {
    list-style-type: none;
  }
}
